@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Serif+Lao&family=PT+Serif:ital,wght@1,400;1,700&family=Source+Serif+Pro:ital,wght@1,200;1,400&display=swap');
* {
    margin:0 ;
    padding:0 ;
    border: none;
}
body{
    font-family: merriweather, sans-serif;
    font-weight: 400;
    color:rgb(91, 45, 12);
}
/*headings and logo styles*/
h1, h2{
    color:rgb(97, 22, 22);
    font-style: italic;
}
#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}
#menu {
    font-size: 110%;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
   text-decoration: none;
   color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid rgb(97, 22, 22) ;
}
.active {
    border-bottom: 1px solid rgb(97, 22, 22);
   
}
/*book image style */
#book-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
}
#book-image {
    height: 400px;
    width: 100%;
    background-image:url('../images/book-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
/*fair info style*/
#fair-info {
    height: 500px;
}
#info {
    margin: 20px 0;
    text-align: center;
    font-size: 200%;
}

#fair-info-image {
        width: 33%;
        margin: 0 auto;
}
#circle-container{
    width: 150px;
    height: 150px;
    padding: 0px;
    border-style: solid;
    border-color: rgb(97, 22, 22);
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}
#circle-image{
    background-image:url('../images/fair-info-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width:100%;
    border-radius: 50%;
    
}
#fair-info-details{
    width: 33%;
    margin: 0 auto;

}
#fair-info-details p{
    margin-top: 20px;
    font-style: normal;
    font-size: 120;
    text-align: center;
    

}
span {
    font-weight: bold;

}