@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Noto+Serif+Lao&family=PT+Serif:ital,wght@1,400;1,700&family=Source+Serif+Pro:ital,wght@1,200;1,400&display=swap');
* {
    margin:0 ;
    padding:0 ;
    border: none;
}
body{
    font-family: merriweather, sans-serif;
    font-weight: 400;
    color:rgb(97, 22, 22);
}
/*headings and logo styles*/
h1, h2, h3{
    color:rgb(97, 22, 22);
    font-style: italic;
    
}
#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}
#menu {
    font-size: 110%;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
   text-decoration: none;
   color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid rgb(97, 22, 22) ;
}
.active {
    border-bottom: 1px solid rgb(97, 22, 22);
   
}
/*book image style */
#book-outer {
    height: 550px;
    width: 100%;
    overflow: hidden;
}
#book-image {
    height: 550px;
    width: 100%;
    background-image:url('../images/book-image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
#cover-info {
    width: 50%;
    height: 200px;

    padding-top: 20px;
    padding-left: 10px;
    text-align: center;
    font-size: 150%;

    background-color: rgba(169, 119, 119, 0.2);

    top: 25%;
    left: 300px;

    position: absolute;
    overflow: visible;

}
#cover-info a {
    
    font-size: inherit;
    padding-top: 20px;
}
/*fair info style*/
#fair-info {
    height: 500px;
    
}
#info-left{
    width:40%;
    height:80% ;
    margin: 20px 0;
    float: left;
    font-size: 200%;
    padding-left: 50px;
    clear: both;
    
}
#info-left p, #info-left ul {
    text-align: left;
    float: initial;
    font-size: 60%;
    line-height: 1.7;
    letter-spacing: .5px;

}
#info-left div{
    padding-top: 15px;
}
span {
    font-weight: bold;

}
#info-right{
    width:40%;
    height:80% ;
    margin: 20px 0;
    float: right;
    font-size: 200%;
    padding-right: 50px;
   
   
}
#info-right p {
    text-align: left;
    float: initial;
    font-size: 60%;
    line-height: 1.7;

}
#info-right div{
    padding-top: 15px;
}
#info-right iframe{
    padding-top: 10px;
}
/* Footer */

footer{
    height: 50px;
}
#footer-section {
    background-color:rgb(97, 22, 22);
    height: 50px;
    margin-top:5px;
    
    position: static;
    bottom: 0;
    right: 0;
    width: 100%
 
}
.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}
.social-networks i{
    font-size: 160%;
    margin: 1%;
    
    color: #fcfbfb;
}
/*contact us style*/
#contact-section{
    height: 100%;
    width: 100%;
    overflow: hidden;
   
}
#cover-contact{
    width: 40%;
    height: 82%;

    padding-top: 20px;
    text-align: center;
    font-size: 150%;
    border: 1px solid rgb(97, 22, 22);
    border-radius: 10px;
    background-color: rgba(169, 119, 119, 0.2);

    top: 15%;
    left: 30%;
    

    position: absolute;
    overflow: visible;  

}
form{
    position:static;
    padding-top: 10px;
    padding-left: 10%;
    font-size: 80%;
    text-align: left;
}

.contact-input {
    width: 90%;
    height: 30px;
    
}
.margin-contact-input{
    margin-top: 10px;
}

textarea {
    width: 90%;
    
}
button {
    background-color:rgb(97, 22, 22);
    border-radius: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 33%;
    cursor: pointer;
   
  }
  button:hover {
    box-shadow: 0 8px 16px 0 rgba(249, 245, 245, 0.2), 0 6px 20px 0 rgba(244, 240, 240, 0.19);
  }
  #demo {
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline;
  }

  /*about-us style*/
  #about-us-section{
    height: 480px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(158, 23, 23, 0.329);
  }
  #left-about-div {
    height: inherit;
    width: 40%;
    float:left;
    margin-top: 20px;
    padding-left: 30px;
    line-height: 1.6;
    
  }
  #left-about-div p {
    margin-top: -10px;
    letter-spacing: .4px;
    word-spacing: .2px;
  }
  #right-about-div{
    height: inherit;
    width: 40%;
    float:right;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-right: 30px;
    display: block;
    
   
    
    
  }
  #about-img-container1 {
    width: 100%;
    height:40%;
   
    border:1px solid rgb(158, 23, 23);
    border-radius: 10px;
    display: block;
    margin-top: 20px;
    padding: 10px;

    overflow:visible;
    box-sizing: border-box;
    
    

  }
  #about-img1-bg{
   
    background-image: url('../images/arab-book-fair2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;

    height: 100%;
    width: 100%;
  }
  
  #about-img-container2 {
    width: 100%;
    height:40%;
    border:1px solid rgb(158, 23, 23);
    border-radius: 10px;
    display: block;
    margin-top: 20px; 
    padding: 10px;
    
    box-sizing: border-box;
    
  }
  #about-img2-bg{
    background-image: url('../images/arab-book-fair.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;

    height: 100%;
    width: 100%;


  }
  
  
 /*publishers page style*/
 #publishers-section{
    height: 480px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(158, 23, 23, 0.329);
 }
 #publishers-header-div{
    height: 10%;
    width: 100%;
    
    margin-top: 30px;
    
    line-height: 1.5;

    text-align: center;
 }
 #publishing-houses-div li{
    
    margin: .6%;
    
    padding: 1%;
    display: inline-block;

 }
 
 #publishing-houses-div img{
    width: 200px;
    height: 150px;
 }
 .img-hover:hover{
    border:2px solid rgb(158, 23, 23);
    box-sizing: border-box;
 }

